CS_LIVENESS_TEC_ARTIFACTS_FEED_URL=FORNECIDO_PELA_CLEAR_SALE
CS_LIVENESS_TEC_ARTIFACTS_FEED_NAME=FORNECIDO_PELA_CLEAR_SALE
CS_LIVINESS_TEC_USER=FORNECIDO_PELA_CLEAR_SALE
CS_LIVINESS_TEC_PASS=FORNECIDO_PELA_CLEAR_SALE
CS_LIVENESS_VERSION=FORNECIDO_PELA_CLEAR_SALE (adicionar -hml ao final para ambientes de testes)
